In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ser3.reindex(range(15),method ='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [8]:
dframe = DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'],columns=['Col1','col2','col3','col4','col5'])
dframe

       Col1      col2      col3      col4      col5
A -0.357169 -0.860256  0.455543 -1.617509 -0.299691
B  0.652740 -0.767593  3.332845  0.937131  0.682446
D  1.099527  0.401315  0.514628  0.636992  1.123022
E -1.294701  0.988173  2.381706  0.366501  1.034736
F  1.497011  0.134512  0.503698 -0.428734  1.198254

In [9]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       Col1      col2      col3      col4      col5
A -0.357169 -0.860256  0.455543 -1.617509 -0.299691
B  0.652740 -0.767593  3.332845  0.937131  0.682446
C       NaN       NaN       NaN       NaN       NaN
D  1.099527  0.401315  0.514628  0.636992  1.123022
E -1.294701  0.988173  2.381706  0.366501  1.034736
F  1.497011  0.134512  0.503698 -0.428734  1.198254

In [10]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [11]:
dframe2.reindex(columns=new_columns)

   col1      col2      col3      col4      col5  col6
A   NaN -0.860256  0.455543 -1.617509 -0.299691   NaN
B   NaN -0.767593  3.332845  0.937131  0.682446   NaN
C   NaN       NaN       NaN       NaN       NaN   NaN
D   NaN  0.401315  0.514628  0.636992  1.123022   NaN
E   NaN  0.988173  2.381706  0.366501  1.034736   NaN
F   NaN  0.134512  0.503698 -0.428734  1.198254   NaN

In [12]:
dframe

       Col1      col2      col3      col4      col5
A -0.357169 -0.860256  0.455543 -1.617509 -0.299691
B  0.652740 -0.767593  3.332845  0.937131  0.682446
D  1.099527  0.401315  0.514628  0.636992  1.123022
E -1.294701  0.988173  2.381706  0.366501  1.034736
F  1.497011  0.134512  0.503698 -0.428734  1.198254

In [13]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

   col1      col2      col3      col4      col5  col6
A   NaN -0.860256  0.455543 -1.617509 -0.299691   NaN
B   NaN -0.767593  3.332845  0.937131  0.682446   NaN
C   NaN       NaN       NaN       NaN       NaN   NaN
D   NaN  0.401315  0.514628  0.636992  1.123022   NaN
E   NaN  0.988173  2.381706  0.366501  1.034736   NaN
F   NaN  0.134512  0.503698 -0.428734  1.198254   NaN