In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe=DataFrame({'k1':['X','X','Y','Y','Z'],
                 'k2':['alpha','beta','alpha','beta','alpha'],
                 'dataset1':np.random.randn(5),
                 'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  1.179700  1.188987  X  alpha
1 -0.251767 -0.142170  X   beta
2  0.421817  1.470065  Y  alpha
3 -0.173536  0.546223  Y   beta
4  1.441405 -0.565037  Z  alpha

In [3]:
group1=dframe['dataset1'].groupby(dframe['k1'])
group1

In [5]:
group1.mean()

k1
X    0.463966
Y    0.124140
Z    1.441405
Name: dataset1, dtype: float64

In [6]:
cities=np.array(['NY','LA','LA','NY','NY'])
month=np.array(['JAN','FEB','JAN','FEB','JAN'])

In [8]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.251767
    JAN    0.421817
NY  FEB   -0.173536
    JAN    1.310552
Name: dataset1, dtype: float64

In [9]:
dframe

   dataset1  dataset2 k1     k2
0  1.179700  1.188987  X  alpha
1 -0.251767 -0.142170  X   beta
2  0.421817  1.470065  Y  alpha
3 -0.173536  0.546223  Y   beta
4  1.441405 -0.565037  Z  alpha

In [10]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.463966  0.523408
Y   0.124140  1.008144
Z   1.441405 -0.565037

In [12]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  1.179700  1.188987
   beta  -0.251767 -0.142170
Y  alpha  0.421817  1.470065
   beta  -0.173536  0.546223
Z  alpha  1.441405 -0.565037

In [14]:
dframe.groupby('k1').size()

k1
X    2
Y    2
Z    1
dtype: int64

In [15]:
dframe

   dataset1  dataset2 k1     k2
0  1.179700  1.188987  X  alpha
1 -0.251767 -0.142170  X   beta
2  0.421817  1.470065  Y  alpha
3 -0.173536  0.546223  Y   beta
4  1.441405 -0.565037  Z  alpha

In [18]:
for name,group in dframe.groupby('k1'):
    print "This is %s group" %name
    print group
    print '\n'

This is X group
   dataset1  dataset2 k1     k2
0  1.179700  1.188987  X  alpha
1 -0.251767 -0.142170  X   beta


This is Y group
   dataset1  dataset2 k1     k2
2  0.421817  1.470065  Y  alpha
3 -0.173536  0.546223  Y   beta


This is Z group
   dataset1  dataset2 k1     k2
4  1.441405 -0.565037  Z  alpha

In [19]:
for (k1,k2),group in dframe.groupby(['k1','k2']):
    print "key1=%s key2=%s" %(k1,k2)
    print group
    print '\n'

key1=X key2=alpha
   dataset1  dataset2 k1     k2
0    1.1797  1.188987  X  alpha


key1=X key2=beta
   dataset1  dataset2 k1    k2
1 -0.251767  -0.14217  X  beta


key1=Y key2=alpha
   dataset1  dataset2 k1     k2
2  0.421817  1.470065  Y  alpha


key1=Y key2=beta
   dataset1  dataset2 k1    k2
3 -0.173536  0.546223  Y  beta


key1=Z key2=alpha
   dataset1  dataset2 k1     k2
4  1.441405 -0.565037  Z  alpha

In [20]:
group_dict=dict(list(dframe.groupby('k1')))
group_dict

{'X':    dataset1  dataset2 k1     k2
 0  1.179700  1.188987  X  alpha
 1 -0.251767 -0.142170  X   beta, 'Y':    dataset1  dataset2 k1     k2
 2  0.421817  1.470065  Y  alpha
 3 -0.173536  0.546223  Y   beta, 'Z':    dataset1  dataset2 k1     k2
 4  1.441405 -0.565037  Z  alpha}

In [21]:
group_dict['X']

   dataset1  dataset2 k1     k2
0  1.179700  1.188987  X  alpha
1 -0.251767 -0.142170  X   beta

In [22]:
group_dict_axis1=dict(list(dframe.groupby(dframe.dtypes,axis=1)))
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  1.179700  1.188987
 1 -0.251767 -0.142170
 2  0.421817  1.470065
 3 -0.173536  0.546223
 4  1.441405 -0.565037, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [24]:
dataset2_group=dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  1.188987
   beta  -0.142170
Y  alpha  1.470065
   beta   0.546223
Z  alpha -0.565037