In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a   -0.627659
   b   -0.665993
   c   -0.144893
2  a    1.906589
   b    0.008053
   c    0.024940
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a   -0.627659
b   -0.665993
c   -0.144893
dtype: float64

In [6]:
ser[2]

a    1.906589
b    0.008053
c    0.024940
dtype: float64

In [8]:
ser[:,'a']

1   -0.627659
2    1.906589
dtype: float64

In [9]:
dframe = ser.unstack()
dframe

          a         b         c
1 -0.627659 -0.665993 -0.144893
2  1.906589  0.008053  0.024940

In [15]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','LA'],['cold','hot','cold','hot']])
dframe2

      NY       LA
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [16]:
dframe2.index.names = ['INDEX_1','INDEX_2']
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY       LA
Temp            cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [17]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot cold hot
Cities            NY  NY   LA  LA
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [18]:
dframe2.sortlevel(1)

Cities            NY       LA
Temp            cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
b       1          8   9   10  11
a       2          4   5    6   7
b       2         12  13   14  15

In [19]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           2    4
        2          10   12
b       1          18   20
        2          26   28